@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
body{
    font-family: "Julius Sans One";
}

header{
    width: 100%;
    height: 100px;
    background-color: #B2B8D6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}    
.course_name_and_logo{
    width: 20vw;
    display: flex;
    justify-content: flex-end;
}
 .course_name{
    font-size: 25px;
    width: 120px;
    margin-right: 20px;
 }

.logo_image img{
    width: 50px;
    border:1px solid black;
    border-radius: 50%;
    opacity: 0.9;
}
.logo{
    display: flex;
    align-items: center;
}
.menu_list{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    list-style-type: none;  
}
.menu_list li a{
    text-decoration: none;
}
.menu_list li a:hover{
    text-decoration:underline;
    opacity: 0.8;
    margin: 0;
}

.introduction{
    width: 100%;
    height: 650px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
}

.intro_text{
    text-align: center;
}
.intro_text h1{
    margin-bottom: 30px;
    font-size: 40px;
}
.intro_text p{
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
}

.strategies_section{
    width: 100%;
    height: 700px;
    background-color: #B2B8D6;
    border-bottom: 1px dotted black;
}

.strategy_image{
    width: 280px;
    height: 250px;
    object-fit: cover;
    transform:scale(1);
    border-radius:5%;
}
.strategy_image:hover{
    transform:scale(1.1);
    transition: 0.4s;
}
.first_strategy{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second_strategy{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.strategy_name{
    text-align: center;
}
.strategy_section_headers{
    text-align: center;
    padding-top: 20px;
}
.motivation_expression{
    margin-bottom: 30px;
    font-size: 30px;
}
.strategies_implement{
    font-size: 24px;
}
.strategy_name{
    font-size: 20px;
}
.about_section{
    width: 100%;
    height: 530px;
    background-color: #B2B8D6;
}
.about_text{
    text-align: center;
    padding-top: 20px;
}
.about_text h2{
    margin-bottom:40px;
    font-size: 30px;
}
.about_text p{
    font-size: 20px;
}
.about_inf{
    width: 80%;
    display: flex;
    justify-content:space-around;
    margin: 0 auto;
    padding-top: 30px;
}
.about_block{
    background-color: #b6bad2;
    width: 400px;
    height: 300px;
    border-radius: 5%;
}
footer{
    width: 100%;
    height: 100px;
}