@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
body{
    font-family: "Julius Sans One";
}

header{
    width: 100%;
    height: 100px;
    background-color: #C1D6FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}    
.course_name_and_logo{
    width: 20vw;
    display: flex;
    justify-content: flex-end;
}
 .course_name{
    font-size: 25px;
    width: 120px;
    margin-right: 20px;
 }

.logo_image img{
    width: 80px;
    opacity: 0.9;
}
.logo{
    display: flex;
    align-items: center;
}
.menu_list{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    list-style-type: none;  
}
.menu_list li a{
    text-decoration: none;
}
.menu_list li a:hover{
    text-decoration:underline;
    opacity: 0.8;
    margin: 0;
}

.introduction{
    width: 100%;
    height: 650px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
}

.intro_text{
    text-align: center;
}
.intro_text h1{
    margin-bottom: 30px;
    font-size: 40px;
}
.intro_text p{
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
}

.strategies_section{
    width: 100%;
    height: 700px;
    background-color: #B2B8D6;
    border-bottom: 1px dotted black;
}

.strategy_image{
    width: 280px;
    height: 250px;
    object-fit: cover;
    transform:scale(1);
    border-radius:5%;
}
.strategy_image:hover{
    transform:scale(1.1);
    transition: 0.4s;
}
.first_strategy{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second_strategy{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.strategy_name{
    text-align: center;
}
.strategy_section_headers{
    text-align: center;
    padding-top: 20px;
}
.motivation_expression{
    margin-bottom: 30px;
    font-size: 30px;
}
.strategies_implement{
    font-size: 24px;
}
.strategy_name{
    font-size: 20px;
}
.about_section{
    width: 100%;
    height: 530px;
    background-color: #B2B8D6;
    border-bottom: 0.5px dotted black;
}
.about_text{
    text-align: center;
    padding-top: 20px;
}
.about_text h2{
    margin-bottom:40px;
    font-size: 30px;
}
.about_text p{
    font-size: 20px;
}
.about_inf{
    width: 80%;
    display: flex;
    justify-content:space-around;
    margin: 0 auto;
    padding-top: 30px;
}
.about_block{
    background-color: #b6bad2;
    width: 400px;
    height: 300px;
    border-radius: 5%;
    border: 0.5px solid black;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
footer{
    width: 100%;
    height: 150px;
    background-color: #C1D6FF;
}
.cut_footer{
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
}
.for_both{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer_links ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none; 
}
.footer_links ul li{
    padding: 0 30px;
    font-size: 30px;
}
.lee{
    border-left: 1px solid black;
}
.lee a i{
    color: black;
}
.follow{
    font-size: 20px;
    padding-left: 30px;
}
.contact_inf{
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
}
.contact_inf .email{
    padding-right: 20px;
    font-family: sans-serif;
    opacity: 0.6;
}
.contact{
    font-size: 20px;
}
.contacts{
    padding-left: 20px;
}
.sign_up{
    width: 100%;
    height: 650px;
    display: flex;
}
.form{
    background-color: #B2B8D6;
    padding-right: 0;
    position: relative;
}
.vertical_align{
    width: 60%;
    position: absolute;
    top: 25%;
    left: 10%;
}
.signup_pic{
    height: auto;
    background: url(/assets/images/sky.avif) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 0;
}
.signup_child{
    margin: 15px 0 15px 0;
    flex: 1;
    height: auto;
    border-radius: 5%;
}
.text-input{
    background: transparent;
    color: #fafafa;
    width: 98%;
    height: 25px;
    margin: 5px 0 25px 0;
    border: 0.5px solid #fafafa;
    border-radius: 10px;
}
.text-input:focus{
    border: 1px solid white;
}
.join-button{
    margin-top: 25px;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}